<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Silver.Properties.Settings.silverConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\silver.mdb"
            providerName="System.Data.OleDb" />
        <add name="Silver.Properties.Settings.silverConnectionString1"
            connectionString="Data Source=ORLOV-SB;Initial Catalog=silver;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Silver.Properties.Settings.silverConnectionString2"
            connectionString="Data Source=SQLSRV;Initial Catalog=silver;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>